In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("./dataset/spam.csv",encoding="latin-1")

In [5]:
df.sample(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4739,ham,"I keep seeing weird shit and bein all \woah\"" ...",NaN,NaN,NaN
1550,ham,He says hi and to get your ass back to south t...,NaN,NaN,NaN
5422,ham,Ok k..sry i knw 2 siva..tats y i askd..,NaN,NaN,NaN
2647,ham,"It,,s a taxt massage....tie-pos argh ok! Lool!",NaN,NaN,NaN
3130,spam,LookAtMe!: Thanks for your purchase of a video...,NaN,NaN,NaN
5276,ham,Dunno leh cant remember mayb lor. So wat time ...,NaN,NaN,NaN
1357,ham,Good afternoon loverboy ! How goes you day ? A...,NaN,NaN,NaN
841,ham,Pls send me a comprehensive mail about who i'm...,NaN,NaN,NaN
3202,ham,Haha... Yup hopefully we will lose a few kg b...,NaN,NaN,NaN
2689,ham,"Ya ok, vikky vl c witin &lt;#&gt; mins and il...",NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [8]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64